body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    color: black;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    list-style: disc;
    text-align: left;
    font-weight: 800;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid;

}
nav{
    color: rgb(19, 78, 7);
    padding: 10px;
    flex-direction: column;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }
  
  .hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
  }
  
  .about, .skills, .projects {
    margin: 40px 0;
  }
  
  .project-card {
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }